In [1]:
import pandas as pd 
departments=pd.read_csv(r"C:\Users\VICTUS\Desktop\DATA\departments.csv")
orders=pd.read_csv(r"C:\Users\VICTUS\Desktop\DATA\orders.csv")
order_product=pd.read_csv(r"C:\Users\VICTUS\Desktop\DATA\order_products__prior.csv")
product=pd.read_csv(r"C:\Users\VICTUS\Desktop\DATA\products.csv")
aisle=pd.read_csv(r"C:\Users\VICTUS\Desktop\DATA\aisles.csv")

In [2]:
print("DATA LOADED SUCCESSFULLY")

DATA LOADED SUCCESSFULLY

In [3]:
print("We performed memory-efficient left joins starting from the order-product interaction" 
" table to preserve all purchase events, incrementally enriching them with order-level0, product-level, aisle,"
" and department metadata")

We performed memory-efficient left joins starting from the order-product interaction table to preserve all purchase events, incrementally enriching them with order-level0, product-level, aisle, and department metadata

In [4]:
orders=pd.read_csv(r"C:\Users\VICTUS\Desktop\DATA\orders.csv",dtype = {'order_id': 'int32',
                                                                        'user_id': 'int32',
                                                                       'order_number': 'int16'})
##I made join for the  data 
df=order_product.merge(orders,on='order_id',how='left')
df=df.merge(product,on='product_id',how='left')
df=df.merge(aisle,on='aisle_id',how='left')
df=df.merge(departments,on='department_id',how='left')
## JOINING COMPLETED SUCCESSFULLY
print("the final dataFrame shape is :", df.shape)

the final dataFrame shape is : (32434489, 15)

In [6]:
##check the data:
print(df.head())
print(df.info())
print(df.columns)

   order_id  product_id  add_to_cart_order  reordered  user_id eval_set  \
0         2       33120                  1          1   202279    prior
1         2       28985                  2          1   202279    prior
2         2        9327                  3          0   202279    prior
3         2       45918                  4          1   202279    prior
4         2       30035                  5          0   202279    prior

   order_number  order_dow  order_hour_of_day  days_since_prior_order  \
0             3          5                  9                     8.0
1             3          5                  9                     8.0
2             3          5                  9                     8.0
3             3          5                  9                     8.0
4             3          5                  9                     8.0

            product_name  aisle_id  department_id               aisle  \
0     Organic Egg Whites        86             16                eggs
1  Michigan Organic Kale        83              4    fresh vegetables
2          Garlic Powder       104             13   spices seasonings
3         Coconut Butter        19             13       oils vinegars
4      Natural Sweetener        17             13  baking ingredients

   department
0  dairy eggs
1     produce
2      pantry
3      pantry
4      pantry
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 15 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   product_id              int64
 2   add_to_cart_order       int64
 3   reordered               int64
 4   user_id                 int32
 5   eval_set                object
 6   order_number            int16
 7   order_dow               int64
 8   order_hour_of_day       int64
 9   days_since_prior_order  float64
 10  product_name            object
 11  aisle_id                int64
 12  department_id           int64
 13  aisle                   object
 14  department              object
dtypes: float64(1), int16(1), int32(1), int64(8), object(4)
memory usage: 3.3+ GB
None
Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered', 'user_id',
       'eval_set', 'order_number', 'order_dow', 'order_hour_of_day',
       'days_since_prior_order', 'product_name', 'aisle_id', 'department_id',
       'aisle', 'department'],
      dtype='object')

In [11]:
## cleaning the data:
missing_values=df.isnull().sum()
print("missing values in each column:\n",missing_values)
df["days_since_prior_order"]=df["days_since_prior_order"].fillna(0).astype("int16")

missing values in each column:
 order_id                  0
product_id                0
add_to_cart_order         0
reordered                 0
user_id                   0
eval_set                  0
order_number              0
order_dow                 0
order_hour_of_day         0
days_since_prior_order    0
product_name              0
aisle_id                  0
department_id             0
aisle                     0
department                0
dtype: int64

In [12]:
##outlier detection and treatment :
num_cols=[
    'add_to_cart_order',
    'order_number',
    'order_hour_of_day',
    'days_since_prior_order'
]
df[num_cols].describe()

,add_to_cart_order,order_number,order_hour_of_day,days_since_prior_order
count,3.243449e+07,3.243449e+07,3.243449e+07,32434489.0
mean,8.351076e+00,1.714205e+01,1.342498e+01,0.0
std,7.126671e+00,1.753504e+01,4.246365e+00,0.0
min,1.000000e+00,1.000000e+00,0.000000e+00,0.0
25%,3.000000e+00,5.000000e+00,1.000000e+01,0.0
50%,6.000000e+00,1.100000e+01,1.300000e+01,0.0
75%,1.100000e+01,2.400000e+01,1.600000e+01,0.0
max,1.450000e+02,9.900000e+01,2.300000e+01,0.0

In [ ]:
print("test commit")